In [1]:
%config Completer.use_jedi = False #for auto complete code

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import skew
#%matplotlib inline
plt.style.use('ggplot')

#funcion parachekar si los eneros estan completos
def mescompleto(x,ano):
    a=x[x.index.year==ano].isnull().sum()==0
    return a
#retorna años con los meses completos
def anosconmesescompletos(x):
    ano=range(1981,2017)
    idx=[]
    for i in range(len(ano)):
        if mescompleto(x,ano[i]):
            idx.append(ano[i])
    return idx

#retorna la serie con los meses completos para luego calcular los estadisticos
def seriefinal(x):

    idx=anosconmesescompletos(x)
    lista=[]
    for i in range(len(idx)):
        lista.append(x[x.index.year==idx[i]])
    
    if len(lista)>15:#mayor a 15 ano
        return pd.concat(lista)#remodificar esta funcion
    else:
        return []

def proportiondry(x):
    def mayorque(y):
        return y>0.1
    drydays=len(x)-np.sum(x.apply(mayorque))
    return float(drydays)/len(x)

def autocovariance(Xi, k=1):
    N = np.size(Xi)
    Xs = np.average(Xi)
    autoCov = 0
    for i in np.arange(0, N-k):
        autoCov += ((Xi[i+k])-Xs)*(Xi[i]-Xs)
    return (1.0/(N-1))*autoCov

def estadisticosprec(x):
    result=[]
    a=x.dropna()
    #si se tiene menor a 10 años no contar
    if len(a)==0:
        return [None]
    result.append(np.mean(a))
    result.append(np.var(a))
    result.append(autocovariance(a))
    result.append(proportiondry(a))
    return result

#crea una tabla de los estadisticos extraidos una vez usado la fucion estadisticosprec
def crearTablaEst(x,names=['x','y','mean1h','var1h','autocov1h','dryperiod1h']):
    
    val=x.transpose()
    val.reset_index(drop=True, inplace=True)
    pos=posiciones#posiciones.loc[final_station,:]
    pos.reset_index(drop=True, inplace=True)
    df=pd.concat([pos, pd.DataFrame(np.matrix(val))], axis=1)
    
    df.columns=names
    
    return df

def factores(a,b):
    if a==0.0 or b==0.0:
        return a
    else:
        return float(a)/b

#  Correcion de los datos TRMM a Nivel Nacional

In [3]:
#Las 372 estaciones iniciales Luego tienen que ser filtradas :v
datos=pd.read_csv('D:/Proyectos_GitHub/TrmmCorrection/data/ValoresNivelNacionalTRMM3h.csv')
rng = pd.date_range('1999-02-01 00:00:00','2015-02-28 21:00:00', freq='3H')
fechasTR=rng[np.in1d(rng.month, 2)]#filtra las fechas para que solo sean de febrero
posiciones=datos.iloc[:,0:2]
posiciones.columns=['x','y']
TRMM=datos.iloc[:, 2:3842].transpose()
TRMM=TRMM.set_index(fechasTR)
TRMM.head()

,0,1,2,3,4,5,6,7,8,9,...,362,363,364,365,366,367,368,369,370,371
1999-02-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.07213,0.06473,2.813966,2.037054,2.320986,3.404111,2.320986,1.679762,1.463762,1.278246
1999-02-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.099716,0.046889,1.389121,0.046889,0.153978,0.739924,5.475471
1999-02-01 06:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.000000,0.046889,0.000000,0.046889,0.055992,0.000000,0.171705
1999-02-01 09:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.705897
1999-02-01 12:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [5]:
rng = pd.date_range('1981-01-01','2016-12-31', freq='d')
fechasOB=rng[np.in1d(rng.month, 2)]#
obs24=pd.read_csv('D:/Proyectos_GitHub/TrmmCorrection/data/RAIN_GAUGE.csv')
prec=obs24.iloc[:,3:13152].transpose()
prec=prec.set_index(rng)

In [6]:
#obtengo todos los febreros para las estaciones a nivel nacional
precFeb=prec.loc[fechasOB]

In [7]:
TrmmDiario=TRMM.groupby(pd.Grouper(freq='24h')).agg(np.sum)

In [8]:
#todos los datos diarios dentro del rango de tiempo del TRMM
rng = pd.date_range('1999-02-01','2015-02-28', freq='d')
fechasD=rng[np.in1d(rng.month, 2)]#
TrmmDiario=TrmmDiario.loc[fechasD]
obsDiario=prec.loc[fechasD]

#  Trabajando con meses completos

In [9]:
idx=[]
n=0.8*480
for x in obsDiario.columns:
    if obsDiario[x].count()> n:
        idx.append(x)
        
#idx=list(obsDiario.isnull().sum()==0) #pixeles con meses completos
posiciones=posiciones.iloc[idx,:] #corrdenadas de los meses completos
TrmmDiario=TrmmDiario.iloc[:,idx]
obsDiario=obsDiario.iloc[:,idx]
TRMM=TRMM.iloc[:,idx]

In [10]:
BIASM=[]
for i in range(0,TrmmDiario.shape[0]):#filas
    BIAS=[]
    for j in range(0,TrmmDiario.shape[1]):#columnas
        BIAS.append(factores(obsDiario.iloc[i,j],TrmmDiario.iloc[i,j]))
    BIASM.append(BIAS)

    correcionM=[]
bugM=[]
k=0 #lleva la contabilidad de las fechas diarias
for i in range(0,TRMM.shape[0]):
    correcion=[]
    bug=[]
    for j in range(0,TRMM.shape[1]):
        if fechasTR[i].date()==fechasD[k].date():
            
            bug.append(BIASM[k][j])
            correcion.append(TRMM.iloc[i,j]*BIASM[k][j])
            k=k
        else:
            k=k+1
            correcion.append(TRMM.iloc[i,j]*BIASM[k][j])
    
    bugM.append(bug)
    correcionM.append(correcion)

In [11]:
DATOSTRMMCORRE=pd.DataFrame(correcionM)
DATOSTRMMCORRE=DATOSTRMMCORRE.set_index(fechasTR)
ESTA3h=DATOSTRMMCORRE.apply(estadisticosprec, axis=0)
ESTA3H=crearTablaEst(ESTA3h,names=['x','y','mean3h','var3h','autocov3h','dryperiod3h'])
ESTA3H

            x          y    mean3h      var3h  autocov3h  dryperiod3h
0   -80.53361  -3.633611  0.190207   5.719453   0.345592     0.971231
1   -80.45750  -3.813333  0.416303  10.833260   1.331412     0.935139
2   -80.45722  -3.508333  0.225189  10.282382   0.294510     0.971809
3   -80.32194  -3.440556  0.221985   6.390958   0.544182     0.974473
4   -80.66083  -3.948889  0.297978   6.404752   0.249410     0.963148
..        ...        ...       ...        ...        ...          ...
251 -69.81306 -17.237222  0.367566   3.679007   0.485118     0.923418
252 -69.77944 -17.525000  0.423544   2.944728   0.283139     0.864323
253 -69.62628 -17.579861  0.393553   4.001506   0.483525     0.916385
254 -69.46759 -17.393589  0.416044   3.547367   0.301641     0.911198
255 -69.70167 -16.740833  0.443728   4.526515   0.391607     0.900884

[256 rows x 6 columns]

In [12]:
ESTTRMMD=crearTablaEst(DATOSTRMMCORRE.groupby(pd.Grouper(freq='24h')).agg(np.sum).loc[fechasD].apply(estadisticosprec, axis=0),names=['x','y','mean24h','var24h','autocov24h','dryperiod24h'])
ESTTRMMD

            x          y   mean24h      var24h  autocov24h  dryperiod24h
0   -80.53361  -3.633611  1.432500   49.963235    8.918833      0.854167
1   -80.45750  -3.813333  3.329557  128.138466   19.464163      0.731250
2   -80.45722  -3.508333  1.797292   85.113263    8.241934      0.862500
3   -80.32194  -3.440556  1.775417   60.475937    8.452000      0.883333
4   -80.66083  -3.948889  2.358375   65.818193    4.696201      0.818750
..        ...        ...       ...         ...         ...           ...
251 -69.81306 -17.237222  2.419812   26.955945   10.390372      0.687500
252 -69.77944 -17.525000  3.388354   27.855098    8.923446      0.468750
253 -69.62628 -17.579861  2.912292   32.719620   10.744397      0.629167
254 -69.46759 -17.393589  3.328354   25.171100    9.849615      0.545833
255 -69.70167 -16.740833  2.928604   31.285882    9.358028      0.579167

[256 rows x 6 columns]